@import "tailwindcss";

@theme {
  --color-primary: #4B0082;
  --color-primary-hover: #3a0066;
  --color-accent: #8b5cf6;
  --color-background: #F8FAFC;
}

body {
  background: linear-gradient(to bottom, #ffffff, #f8fafc);
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}